.Vacation{
   display: flex;
   flex-direction: column;
}

.Vacation > ul {
   list-style-type: disc;
}

.Vacation > ul > li {
    display: list-item;
    margin-bottom: 15px;
}

.Vacation > ul > li::marker {
    content: "🌝";
    position: absolute;
    top: 5px;
    left: 0;
    width: 14px;
    height: 14px;
    background-color: #2E9AFF;
    display: list-item;
}